<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Hola mi nombre es: {{nombre|upper}}</h1>
    <p>El apellido es: {{apellido.upper}}</p>
    <ul>
        {% if temas %} {% for eltema in temas_del_curso %}
        <li>{{eltema|first|upper}}</li>
        {% endfor %} {% endif %}
    </ul>
</body>

</html>