<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #Barra{
        margin: 5%;
        padding: 2%;
        list-style: none;
        text-transform: uppercase;
    }
    #Barra li{
        display: inline;
        margin: 0.2%;
    }
</style>
<body>
<ul id="Barra">
    <li>Home</li>
    <li>Estudiantes</li>
    <li>Login</li>
    <li>Contacto</li>
</ul>
</body>
</html>